<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appveg.farmfamily">
    <!-- Adding Read External Storage Permission usr pick img -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.chart.ChartActivity"
            android:label="Biểu đồ"
            android:parentActivityName=".ui.chart.ChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.chart.ChartActivity" />

        </activity>
        <activity
            android:name=".ui.home.DetailGarden"
            android:label="Thông tin khu vườn"
            android:parentActivityName=".ui.home.DetailGarden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.home.DetailGarden" />
        </activity>
        <activity
            android:name=".ui.vegetable.EditVegetableActivity"
            android:label="Sửa loại rau"
            android:parentActivityName=".ui.vegetable.EditVegetableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.vegetable.EditVegetableActivity" />
        </activity>
        <activity android:name=".ui.garden.AddDeviceForGardenActivity" />
        <activity
            android:name=".ui.vegetable.AddVegetableActivity"
            android:label="Thêm loại rau"
            android:parentActivityName=".ui.vegetable.AddVegetableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.vegetable.AddVegetableActivity" />
        </activity>
        <activity
            android:name=".ui.device.EditDeviceActivity"
            android:label="Sửa thiết bị"
            android:parentActivityName=".ui.device.EditDeviceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.device.EditDeviceActivity" />
        </activity>
        <activity
            android:name=".ui.device.AddDeviceActivity"
            android:label="Thêm thiết bị"
            android:parentActivityName=".ui.device.AddDeviceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.device.AddDeviceActivity" />
        </activity> <!-- <activity -->
        <!-- android:name=".ui.slideshow.DeviceDetailActivity" -->
        <!-- android:label="Chi tiết thiết bị" -->
        <!-- android:parentActivityName=".ui.slideshow.DeviceDetailActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.appveg.farmfamily.ui.slideshow.DeviceDetailActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.garden.ThemKhuVuonActivity"
            android:label="Thêm khu vườn"
            android:parentActivityName=".ui.garden.ThemKhuVuonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.garden.ThemKhuVuonActivity" />
        </activity>
        <activity
            android:name=".ui.garden.SuaKhuVuonActivity"
            android:label="Sửa khu vườn"
            android:parentActivityName=".ui.garden.ThemKhuVuonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.garden.ThemKhuVuonActivity" />
        </activity>
        <activity
            android:name=".ui.send.SuaDotSanLuongActivity"
            android:label="Sửa đợt sản lượng" />
        <activity
            android:name=".ui.send.ChiTietSanLuongRauActivity"
            android:label="Chi tiết sản lượng" />
        <activity
            android:name=".ui.send.ThemDotSanLuongActivity"
            android:label="Thêm đợt sản lượng " />
        <activity
            android:name=".ui.send.ChiTietDotSanLuongActivity"
            android:label="Danh sách đợt sản lượng"
            android:parentActivityName=".ui.send.ChiTietDotSanLuongActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appveg.farmfamily.ui.send.SendFragment" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.ForgotPPass"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>